body{
    overflow-x: hidden;
}
#body-wrap{
    background-image: url("../Images/map images/background image map.jpg");
    background-size:cover;
    background-repeat: repeat-y;
    z-index: -1;
}
#transbox {
    background-color: #fff;
    border: 1px solid rgb(8, 6, 8);
    opacity: 0.9;
}

#text-adventure{
    position: absolute;
    top: 60%;
    left: 37%;
    padding: 10px 50px;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    color: rgb(240, 242, 245);
    font-size: 3rem;
    word-spacing:10px;
    text-shadow: rgb(0, 0, 0) 2px 2px 20px;
}
/* list of adventures */
#list-adventure{
    display:list-item;
    list-style-type: disc;
    color:rgb(10, 15, 5);
    font-family: 'Readex Pro', sans-serif;
    margin-left: 100px;

}


/* map */
.mapouter{
    position: relative;
    padding: 20px;
    margin: auto;

}

.mapouter .gmap_canvas{
    position: relative;
    border: solid #000 2px;
    height: 60vh;
}

/* map and provincial access */


#map-and-province{
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    padding-bottom: 200px;;
}

.province{
    justify-content: space-around;
    margin: 40px auto;

}

.province p {
    font-size: 1.5rem;
    font-family: poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 40px auto;
}

#province-list{
    list-style-type: disc;
}
    
.province a{
    text-decoration: none;
}